@import "~@/sass/variables";

@include styledDialog('.custom__dialog');
.custom__dialog{

  @include styledDialogHeader('.dialog__header');

  @include styledCloseDialog('.close__dialog');

  @include styledTitleDialog('.dialog__title');
  
  @include styledDialogBody('.dialog__body');

  @include styledScrollFor('.dialog__body');

  @include actionButtonsDialog('.dialog__actions');

  .v-card__text.dialog__body{
    padding-bottom: 0;
  }
  .v-btn{
      color: $btnGray;
  }

}

.event__comment_section{
    margin-top: 30px;

    .comment {
        display: -webkit-box;
        display: flex;
        padding: 10px;
        border: 1px solid #dce1e5;

        & + .comment {
            margin-top: 10px;
        }
    }

    .event__comments {
        padding: 15px;
        background-color: $bgLightBlue;
        display:-webkit-box;
        display:flex;

        .rich__editor{
            background-color: $white;
        }
        
        .comments__actions {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: start;
                    justify-content: flex-start;
            -webkit-box-align: center;
                    align-items: center;
            background-color: $white;
            border: 1px solid $gray;
            border-top: none;
        }

        .emoji-wrapper {
            position: relative;
            display: inline-block;
        }

    }
}