@import "../../sass/variables";

.l__logo {
  img {
    width: 100%;
    margin-bottom: 20px;
  }
}

.l__title {
  height: 35px;
  font-size: 24px;
  font-weight: 500;
}

.l__divider {
  width: 35px;
  height: 4px;
  border-radius: 5px;
  background-color: $white;
}

.l__labels {
  display: flex;
  // height: 40px;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
}

.field__icon {
  &:first-child {
    .v-icon {
      img {
        width: auto;
        height: auto;
      }
    }
  }
}

.l__tools {
  margin: 20px 0;

  .checkbox {
    label {
      position: relative;
      font-size: 14px;
      margin-left: 10px;
    }
  }

  .forgot__password {
    a {
      font-size: 14px;
      color: $white;
      text-decoration: none;
    }
  }
}

.l__button {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 100%;
    padding: 15px 0;
    background: $blue;
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
}

.l__signup {
  display: flex;
  width: 100%;
  margin: 20px auto;
  font-weight: 300;
  font-family: HelveticaLTStd;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  a {
    color: $white;
  }
}

// Error area
.l__errors {
  position: relative;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;

  > .error__container {
    position: absolute;
    width: 73%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .e__message {
    height: 95%;
    display: flex;
    align-items: center;
    color: #ff7f7e;
    font-size: 12px;
  }

  .e__divider {
    width: 100%;
    height: 5%;
    background: #e6e6e6;
  }
}

//Tablet View
@media(max-width: 768px) {
  .login__card {
  }
}

//Tablet View
@media(max-width: 600px) {

}

@media (max-width: 480px) {
  .login__card {
    .login__cardIn {
      margin: 77px 0;
    }
  }
}