.widget{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    .w__content{
        display: flex;
        justify-items: center;
        justify-content: center;
        margin: 0 3px 0 15px;
        .w__icon{
            .icon{
                height: auto;
            }
            .default{
                display: block;
            }
            .colored{
                display: none;
            }
            &:hover{
                .default{
                    display: none;
                }
                .colored{
                    display: block;
                }
                &:nth-child(2){
                    img{
                        width: 40px;
                    }
                }
            }
        }
        &:first-child{
            .icon{
                width: 30px;
            }
        }
        &:nth-child(2){
            .icon{
                width: 35px;
            }
        }
        &:nth-child(3){
            .icon{
                width: 30px;
            }
        }
        &:last-child{
            .icon{
                width: 25px;
            }
        }
    }
}