@import "~@/sass/variables";

.permissions-dialog {
  .permissions {
    width: 100%;

    .title {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      width: 100%;
      justify-content: center;
      align-items: center;
      grid-gap: 10px;
      color: #7d5050;
    }

    .line {
      height: 2px;
      background: #e8e8e8;
    }

    .items {
      display: flex;
    }

  }
}