
>>> .buzzooka__table thead.v-data-table-header{
    background-color: #f5f7fa;
}
>>> .buzzooka__table thead.v-data-table-header th{
    text-align: left;
    color: #8090aa;
    font-size: 13px;
    font-weight: 500;
    padding: 8px;
}
>>> .buzzooka__table thead.v-data-table-header th:last-child{
    text-align: center;
}
>>> .buzzooka__table tr.table__body-row:nth-child(odd){
  background-color: #fff;
}
>>> .buzzooka__table tr.table__body-row:nth-child(even){
  background-color: #f5f7fa;
}
>>> .buzzooka__table tbody td{
    padding: 8px;
}
>>> .buzzooka__table tbody tr:nth-child(odd){
    background-color: #fff;
    color: #8090aa;
    font-size: 13px;
    font-weight: 500;
    padding: 8px;
}
>>> .buzzooka__table table {
    border-bottom: 1px solid #8090aa;
}
>>>.buzzooka__table tbody tr:nth-child(even){
    background-color: #f5f7fa;
    color: #8090aa;
    font-size: 13px;
    font-weight: 500;
    padding: 8px;

}


>>> .table__toolbar .v-toolbar__content{
    padding: 0 8px;
}
>>> .buzzooka__table .v-datatable__actions{
    justify-content: space-between;
}
>>> tr.table__head th:first-child .v-icon{
    font-size: 35px;
}
>>> tr.table__head th:first-child .theme--light.v-icon{
    color: #d3d5e1;
}

>>> .buzzooka__table .theme--light.v-table tbody tr:first-child:hover:not(.v-datatable__expand-row){
    background: transparent;
}
>>> .buzzooka__table table.v-table tbody td:first-child, 
>>> .buzzooka__table table.v-table tbody td:not(:first-child){
    padding: 8px;
}
>>> .buzzooka__table table.v-table tbody td:first-child .v-icon, 
>>> .buzzooka__table table.v-table tbody td:not(:first-child) .v-icon{
    color: #d3d5e1;
}
>>> .buzzooka__table table.v-table tbody td:first-child .v-icon{
    font-size: 35px;
}
>>> .buzzooka__table table.v-table tbody td:not(:first-child) .v-btn--active:before,
>>> .buzzooka__table table.v-table tbody td:not(:first-child) .v-btn:focus:before,
>>> .buzzooka__table table.v-table tbody td:not(:first-child) .v-btn:hover:before {
    background-color: inherit;
}
>>> .buzzooka__table table.v-table tbody td:not(:first-child) .v-btn:hover{
    border: 1px solid #d3d5e1;
}