@import '~@/sass/_variables';

.dynamic-card {
  .action {
    background-color: $tableBlueBg;
    border: 1px solid $tableBorderBlue;
    .v-btn__content .v-icon {
      color: $tableTitleBlue;
    }
  }

  .tasks-progress {
    height: 15px;
    background: darkgreen;

    > .fill {
      height: 100%;
      background: lightgreen;
    }
  }

  .task-custom-table {
    border: 1px solid $borderGray;
    .header {
      border-bottom: 1px solid $borderGray;
      background-color: $tableBlueBg;
      .task__tableHead {
        padding: 10px;
        color: $tableTitleBlue;
        font-size: 15px;
        font-weight: 500;
      }
    }

    @include styledScrollFor('.body'); //style the scroll

    .body {
      overflow: auto;
      background-color: $tableBlueBg;

      .task__tableBody {
        border-bottom: 1px solid $borderGray;
        cursor: pointer;

        &.active {
          background-color: $white;
        }

        &:hover {
          background-color: $white;
        }

        .assignee__col,
        .project__col {
          padding: 10px;
          font-size: 17px;
          font-weight: 400;
        }

        .status__col {
          font-size: 12px;
          font-weight: 400;
          opacity: 0.8;
          color: $textGray;

          .status__completed {
            height: 4px;
            width: 60px;
            border-radius: 10px;
            background-color: $green;
          }

          .status__pending {
            height: 4px;
            width: 60px;
            border-radius: 10px;
            background-color: $orange;
          }

          .status__behind {
            height: 4px;
            width: 60px;
            border-radius: 10px;
            background-color: $red;
          }

          .status__open {
            height: 4px;
            width: 60px;
            border-radius: 10px;
            background-color: $textGray;
          }
        }
      }
    }
  }

  .task-icon {
    cursor: pointer;
    font-size: 1.5em;
    color: $red;
    margin-left: 10px;
  }

  .add__new_btn {
    font-size: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .dynamic-card {
    .actions {
      .v-btn--floating.v-btn--small {
        height: 30px;
        width: 30px;
      }
      .v-btn {
        margin: 6px;
      }
    }
  }
  .content {
  }
  .add__new_btn {
    font-size: 12px;
  }
}