@import "./_variables";

.buzzooka{
    .dashboard__container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

        .d__logo {
            background: $blue;
            .s__logo{
                .b__icon{
                    display: none;
                }
            }
        }
        .d__header {
            background: #b2e5ee;
        }
        .d__sidebar {
            background: $blue;
            .sidebar{
                a{
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    @extend .toggle-transition;
                }
            }
        }
        .d__content {
            background: #f2f1f7;
            height: 100%;
        }

        .content{
            padding: 10px 2.5%;
            .row{
                display: flex;
            }
            .breadcrumbs{
                flex: 1;
                .v-breadcrumbs{
                    padding: 0;
                }
                .page__title{
                    font-size: 25px;
                    a{
                        color: #bcc2cf;
                        &:hover{
                            color: #667381;
                        }
                    }
                    .v-breadcrumbs__item--disabled{
                        color: #667381;
                    }
                }
                i{
                    font-size: 5vmin;
                }
            }
            .page__options{
                .add__btn{
                    background: $blue;
                    color: $white;
                    border-radius: 10px;
                }
            }
            .content__wrapper{
                .buzz__tables{
                    flex-direction: column;
                    background: $white;
                    padding: 1em 2em 2em;
                    table{
                        tr{
                            height: 5em;
                        }
                    }
                }
                .table__pagination{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 5em;
                    .v-pagination__item--active{
                        background: $blue;
                    }
                }
            }
        }

        // Border
        .buzz-border{
            border: $border-buzz;
            border-radius: 10px;
        }

        // Button
        button{
            outline: none;
        }

        // Transition
        .toggle-transition{
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }
}

// Small Laptop - Large Desktop
@media only screen and (min-width: 768px) {
    .buzzooka{
        .d__logo, .d__sidebar{
            width: 15%;
            transition: width 500ms ease-in-out;
        }
        .d__logo, .d__header{
            height: 5vw;
        }
        .d__header, .d__content {
            width: 85%;
            transition: width 500ms ease-in-out;
        }
    }

    .collapse{
        .dashboard__container{
            .d__logo, .d__sidebar  {
                width: 5%;
            }
            .d__logo, .d__header{
                height: 5vw;
            }
            .d__header, .d__content {
                width: 95%;
            }
            .d__logo{
                .logo__img{
                    width: 3.5vw;
                }
            }
            .d__sidebar{
                .sidebar{
                    .s__list{
                        position: relative;
                        margin-left: 0;
                        transition: width 500ms ease-in-out;
                        width: 5vw;
                        &:hover{
                            width: 15vw;
                            border-radius: 0.5vw;
                            transition: width 300ms ease-in-out;
                            .s__content{
                                opacity: 1;
                            }
                        }
                        .s__content{
                            width: 0;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

// Mobile Phone - Tablet
@media only screen and (min-width: 320px) and (max-width: 767px){
    .buzzooka{
        .d__logo, .d__header{
            width: 100%;
            height: 7.5vw;
        }
        .d__sidebar{
            position: absolute;
            top: 5vw;
            transform: translate(-20vw, 21vh);
            transition: all 0.5s ease;
        }
        .d__content{
            width: 100%;
        }
    }

    .collapse{
        .dashboard__container{
            .d__logo, .d__header{
                width: 100%;
                height: 7.5vw;
            }
            .d__header{
                .h__user{
                    .user-chevron{
                        display: none;
                    }
                }
            }
            .d__sidebar{
                transform: translate(0, 21vh);
                transition: all 0.5s ease;
            }
        }
    }
}