// Body

// Navbar

// Buttons

// Panels

// Typography
    $lato: "lato";
    $lato-semi: "lato semibold";
    $lato-heavy: "lato heavy";
    $lato-mid: "lato medium";
    $myriad: "myriad pro";

// Text

// Table

// Color
    $white: #ffffff;
    $blue: #3b589e;

// Action

// V Modal

// Header Dropdown

// HQ Menu

// Border Color
    $toggle-border: #e3e6eb;
    $tile-border: #dce1e5;

// Border

// Box Shadow

// Form

// Milestone

// Member

// Files

// Invoice

// Profile

// Passbox

// Chat
// Calendar

// Cron

// Timer

// Support

// Group

//  Table
    $tableBlueBg: #f8f9fb;
    $tableDarkText: #4c5561;
    $tableBlueText: #8090aa;
    $tableBorderBlue: #dce1e5;
    $tableTitleBlue: #667280;

@mixin styledScrollFor ($selector) {
    /* width */
    #{$selector}::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    #{$selector}::-webkit-scrollbar-track {
        background: #DAE1E7;
        border-radius: 15px;
    }

    /* Handle */
    #{$selector}::-webkit-scrollbar-thumb {
        background: #B4B6C3;
        border-radius: 10px;
    }
}