// Typography
    $lato: "lato";
    $lato-semi: "lato semibold";
    $lato-heavy: "lato heavy";
    $lato-mid: "lato medium";
    $myriad: "myriad pro";


// Colors
    $white: #ffffff;
    $blue: #3b589e;
    $lightBlue: #01a7e5;
    $green: #1fb868;
    $red: #ff7f7c;
    $violet: #a186d7;
    $darkViolete: #8b94bf;
    $darkViolete-2: #515d93;
    $lightViolete: #e8eaf6;
    $lightViolete-2: #ced3eb;
    $lightGreen: #50b4aa;
    $orange: #ff7f27;
    $gray: #ccc;
    $darkGray: #b3b6c3;
    $lightGray: #f8f8ff;
    $lightGray-2: #BCC2CF;
    $btnGray: #b3b7c3;
    $textGray: #9095AB;
    $textDark: #657186;
    $textLightBlue: #7a94a9;
    $textDarkBlue: #667187;
    $chipGray: #9196ac;
    $chipDark: #2b3244;
    $chipBlue: #3e5aa3;
    $titleDarkBlue: #667381;
    $borderGray: #b2b6c0;
    $toggle-border: #e3e6eb;
    $tile-border: #dce1e5;
    $sortOptionGray: #b2b6c0;
    $sortListBgBlue:#e8eaf6;
    $sortListBgWhite: #f8f8ff;
    $sortListDarkTxt:#727d91;
    $tableBlueBg: #f5f7fa;
    $tableDarkText: #4c5561;
    $tableBlueText: #8090aa;
    $tableBorderBlue: #dce1e5;
    $tableTitleBlue: #667280;
    $tableIconGray:#d3d5e1;
    $modalBgGray:#eeeef3;
    $modalTitle: #657186;
    $bgLightBlue: #f8f8ff;
    $borderLightGray: #dce1e5;
    $darkBoxShadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

// Mixin for styled scroll

@mixin styledScrollFor ($selector) {
    /* width */
    #{$selector}::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    #{$selector}::-webkit-scrollbar-track {
        background: #DAE1E7;
        border-radius: 15px;
    }

    /* Handle */
    #{$selector}::-webkit-scrollbar-thumb {
        background: #B4B6C3;
        border-radius: 10px;
    }
}
// Mixin for custom table pagination row

@mixin customTableRow {
    .actions-wrapper {
        display: grid;
        grid-template-columns: 1fr 160px 320px;
        justify-content: space-between;
        align-items: center;

        .rows-per-page-dropdown {
            display: grid;
            grid-template-columns: 3fr 1fr;
            align-items: center;
            justify-content: center;
        }

        .pagination {
            justify-self: end;
        }

    }
}
/********************************************************************
 * Dialog Mixins
 * (Start)
 ********************************************************************/

// Dialog style
@mixin styledDialog($selector){
    #{$selector}{
        border-radius: 15px;
        background-color: $modalBgGray;
        padding: 24px;
    }
    @media only screen and (max-width: 480px){
        #{$selector}{
            padding: 15px;
        }
    }
}
// Close button in Dialog
@mixin styledCloseDialog($selector) {
    #{$selector}{
        border: 1px solid $sortOptionGray;
        background-color: $white;
        .v-icon{
         font-size: 24px;
         color: $sortOptionGray;
       }
    }
    
    @media only screen and (max-width: 480px){
        #{$selector}{
            height: 30px;
            width: 30px;
            .v-icon{
             font-size: 20px;
           }
        }
    }
}

// Title style in Dialog
@mixin styledTitleDialog($selector) {
    #{$selector}{
        font-size:24px;
        font-weight: 500;
        color: $modalTitle;
    }

    @media only screen and (max-width: 480px){
        #{$selector}{
            font-size:20px;
        }
    }
}

// Action buttons in Dialog
@mixin actionButtonsDialog($selector) {
    #{$selector}{
        justify-content: center;
        .v-btn{
            font-size: 14px;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid $borderLightGray;
            color: $modalTitle;
            background-color: $white;
            height: auto;
            width: 110px;
            margin: 0 9px;
        }
    }
    @media only screen and (max-width: 480px){
        #{$selector}{
            .v-btn{
                font-size: 14px;
                padding: 8px;
                width: 80px;
            }
        }
    }
}

/********************************************************************
 * Dialog Mixins
 * (End)
 ********************************************************************/

@mixin sortOptionStyle {
    
    .sort__option{
        border: 1px solid $sortOptionGray;
        background-color: $white;
        .v-icon{
         font-size: 24px;
         color: $sortOptionGray;
       }
    }
    .v-menu__content.theme--light.menuable__content__active{
        box-shadow: 0 15px 5px -3px rgba(0,0,0,.2), 0 18px 10px -3px rgba(0,0,0,.14), 0 13px 14px -3px rgba(0,0,0,.12);
        
    }

    // List
    .sort__list{
        padding: 0;
        margin-top:20px;
        &:after{
            content: "";
            position:absolute;
            margin-top:-45px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid $sortListBgBlue;
            border-top: 15px solid transparent;
            right: 10px;
            bottom: 239px;
        }
        .sort__list_tile{
            background-color: $sortListBgBlue;
            .v-list__tile--link:hover{
                background-color: $sortListBgWhite;
            }
            .sort__list_item{
                color: $sortListDarkTxt;
                font-size: 14px;
                font-weight: 500;
                margin: 0 10px;
            }
        }
    }
}

@mixin userImgWithStatus ($selector){
    #{$selector}{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid $borderLightGray;
        position: relative;
        
        .v-responsive{
            border-radius: 50%;
        }

        .status{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 13px;
            height: 13px;
            border: 2px solid $lightViolete;
            border-radius: 50%;
        }
        
        .online{
            background-color: $green;
        }

        .offline{
            background-color: $gray;
        }

        .dnd{
            background-color: $red;
        }
    }
}