// Typography
    $lato: "lato";
    $lato-semi: "lato semibold";
    $lato-heavy: "lato heavy";
    $lato-mid: "lato medium";
    $myriad: "myriad pro";


// Colors
    $white: #ffffff;
    $blue: #3b589e;
    $toggle-border: #e3e6eb;
    $tile-border: #dce1e5;
    $tableBlueBg: #f8f9fb;
    $tableDarkText: #4c5561;
    $tableBlueText: #8090aa;
    $tableBorderBlue: #dce1e5;
    $tableTitleBlue: #667280;

// Mixin for styled scroll

@mixin styledScrollFor ($selector) {
    /* width */
    #{$selector}::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    #{$selector}::-webkit-scrollbar-track {
        background: #DAE1E7;
        border-radius: 15px;
    }

    /* Handle */
    #{$selector}::-webkit-scrollbar-thumb {
        background: #B4B6C3;
        border-radius: 10px;
    }
}
// Mixin for custom table pagination row

@mixin customTableRow {
    .actions-wrapper {
        display: grid;
        grid-template-columns: 1fr 160px 320px;
        justify-content: space-between;
        align-items: center;

        .rows-per-page-dropdown {
            display: grid;
            grid-template-columns: 3fr 1fr;
            align-items: center;
            justify-content: center;
        }

        .pagination {
            justify-self: end;
        }

    }
}

