@import '~@/sass/_variables';

.d__tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, 140px);
  grid-gap: 20px 50px;
}

@media only screen and (max-width: 500px){
  .d__tiles {
    grid-template-columns: repeat(auto-fit, 120px);
    grid-template-rows: 45px;
    justify-content: space-around;
  }
}