@import '~@/sass/_variables';

.d__tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 20px;
    cursor: pointer;
    justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
    .d__tiles {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .d__tiles {
        grid-template-columns: 1fr 1fr;
    }
}