@import '~@/sass/_variables';

.note-form{

    .note-title{
        display: grid;
        grid-template-columns: 1fr 50px;
        grid-gap: 20px;
        border: 1px solid #dce1e5;
        background-color: $white;
        padding: 10px;
    }
        
    .add-btn{
        height: 33px;
        min-width: 33px;
        border-radius: 5px;
        border: 1px solid $borderLightGray;
        background-color: $lightGray;
        color: $darkGray;
        margin: auto 0;
        text-align: right;
        padding: 0;
    }

    .note-content{
        padding: 10px;
        border: 1px solid #dce1e5;
        background-color: $white;
    }
}