@import '~@/sass/_variables';

@include pagePadding('.dashboard-content');

.dashboard-content{
}

.mobile-cards{
    display: none;
}


// Mobile
@media only screen and (max-width: 64em) {
}

@media only screen and (max-width: 600px){
    .desktop-cards{
        display: none;
    }
    .mobile-cards{
        display: block;
    }
}

// Mobile Phone
@media only screen and (max-width: 480px) {
}