@import "~@/sass/variables";

@include pagePadding ('.groups');

.groups {
    position: relative;

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include customTableRow;
}