.projects-dialog {
  padding: 20px;

  .dialog-header {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .dialog-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
  }

  .dialog-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}
