@import '~@/sass/_variables';

.services {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px;

  .create-by-column {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    > img {
      height: 70%;
    }
  }

  @include customTableRow; //css used for styling the last row of the table

}

//table-style
.content__wrapper{
  .buzz__tables{
    font-family: Roboto Slab, sans-serif;
      background: $white;
      padding: 24px;
      border-radius: 10px;
      border: 1px solid $tableBorderBlue;

      .buzz__tablesTwo{
          padding: 24px;
          border: 1px solid $tableBorderBlue;
          background-color: $tableBlueBg;
          .table__toolbar{
              background-color: $tableBlueBg;
              .table__toolbar-title{
                  color: $tableTitleBlue;
                  text-align: left;
                  font-size: 30px;
                  font-weight: 700;
              }
          }
          .custom__table{
              border: 1px solid $tableBorderBlue;
              .service__name{
                  color: $tableBlueText;
                  font-weight: 700;
              }
          }
      }
  }
}