@import "../../sass/variables";

// Field (email and password)
.field {
  display: flex;
  height: 6vh;
  width: 100%;
  justify-content: center;
  align-items: center;

  .v-icon {
    flex-basis: 20%;
    height: 100%;
    background: $blue;
    border-radius: 5px 0 0 5px;
  }
 
  input {
    flex-basis: 80%;
    height: 100%;
    color: #b3b3b3;
    background: $white;
    font-family: HelveticaLTStd;
    font-size: 1vw;
    text-indent: 1vw;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    outline: none;
    border: solid 0.1vw #e6e6e6;
    border-radius: 0 5px 5px 0;
    transition : border 500ms ease-out; 
    &::placeholder{
      text-indent: 1vw;
      font-weight: 300;
      color: #b3b3b3;
    }
    
  }

  &:first-child{
    .v-icon{
      img{
        width: 2vw;
      }
    }
  }

  &:last-child{
    .v-icon{
      img{
        width: 1.4vw;
        height: 4vh;
      }
    }
  }

  input.invalid {
    border: 0.2vw solid #ff9a9a;
    transition : border 500ms ease-out; 
  }
  
}

.signup__field {
  .v-icon {
    display: none
  }
  input{
    flex-basis: 100%;
  }
}