@import '~@/sass/_variables';

.grid-view {
  padding: 20px;
  box-shadow: none;
  color: $textDark;
  border: 1px solid $tableBorderBlue !important;
  border-radius: 10px !important;

  .custom-table-header{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  }
  .custom-grid-title {
    color: $tableTitleBlue;
    text-align: left;
  }

  .v-icon{
    color: $btnGray;
  }

}
.member-card{

  &:hover{
    box-shadow: $darkBoxShadow;
  }

  .card-header{
    color: $textDark;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;

    .active-status{
      position: absolute;
      left: 0;
      top: 0;
      font-size: 24px;
    }
    .settings{
      position: absolute;
      right: 0;
      top: 0;
    }
    span{
      padding: 0 26px;
      text-align: center;
    }
  }
  .card-actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: $textDark-2;
    
    i{
      margin-right: 5px;
    }

    div{
      display: flex;
      align-items: center;
    }
  }
  .card-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $tableBlueBg;
    color: $textDark-2;
    border-top: 1px solid $borderLightGray;

    h5, h4{
      font-weight: normal;
    }
  }
}