@import "~@/sass/_general";
@import "~@/sass/_variables";

.sidebar {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: $blue;
  color: $white;
  padding: 0;
  list-style-type: none;
  .s__list{
    display: flex;
    width: 14.5vw;
    height: 8vh;
    margin-left: 0.5vw;
    justify-content: center;
    align-items: center;
    transition: width 300ms ease-in-out;
    z-index: 1;
    .v-list__tile{
      padding: 0;
    }
    .s__icons{
      display: flex;
      width: 5vw;
      min-width: 5vw;
      justify-content: center;
      transition: width 300ms ease-in-out;
      svg{
        fill: $white;
        width: 2vw;
        transition: width 300ms ease-in-out;
      }
    }
    .s__content{
      display: flex;
      width: 10vw;
      justify-content: center;
      align-items: flex-start;
      font-size: 1.1vw;
      font-family: $lato-semi;
      text-indent: 1vw;
      opacity: 1;
      transition: opacity 300ms ease-in-out;
    }
    &:hover{
      background: #f2f1f7;
      color: $blue;
      border-radius: 0.5vw 0 0 0.5vw;
      svg{
        fill: $blue;
      }
    }
  }
  .active{
    background: #f2f1f7;
    color: $blue;
    border-radius: 0.5vw 0 0 0.5vw;
    box-shadow: -10px 2px 15px 0px rgba(0,0,0,0.4);
      .s__icons{
        svg{
          fill: $blue;
        }
      }
  }
  .responsive-img {
    width: 90%;
    height: auto;
  }
}

// Small Laptop - Large Desktop
@media only screen and (min-width: 768px) {

}

// Mobile Phone - Tablet
@media only screen and (min-width: 320px) and (max-width: 767px){
  .sidebar{
    padding: 1vw 2vw;
    .s__list{
      margin-left: 0;
      border-radius: 0.5vw;
      &:hover{
        border-radius: 0.5vw;
      }
    }
  }
}