@import "~@/sass/_variables";

.sidebar {
  background: $blue;
  color: $white;

  .sidebar-inner{
    position: relative;
  }

  .s__content .v-list-item__title{
    font-size: 1.2rem;
  }

  .v-list__tile {
    padding: 0;
    width: 100%;
  }

  .s__icons {
    display: flex;
    justify-content: center;

    svg {
      fill: $white;
      width: 27px;
    }
  }
  
  .s__icons.v-list-item__icon:first-child {
      margin-right: 20px;
  }

  .s__list {
    display: flex;
    height: 50px;
    width: 200px;
    margin-left: 7px;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;

    &:hover {
      background: #f2f1f7;
      color: $blue;
      border-radius: 8px 0 0 8px;

      svg {
        fill: $blue;
      }
    }

    &.active {
      background: #f2f1f7;
      color: $blue;
      border-radius: 8px 0 0 8px;
      box-shadow: -10px 2px 15px 0px rgba(0, 0, 0, 0.4);

      .s__icons {
        svg {
          fill: $blue;
        }
      }
    }
  }
}

[data-nav="Templates"]:hover > .submenu {
  display: block;
}

[data-nav="Forms"]:hover > .submenu {
  display: block;
}

.submenu {
  position: absolute;
  right: -150px;
  top: 0;
  background: $blue;
  padding: 5px;
  width: 150px;
  color: white;
  border-radius: 0 20px;
  display: none;
  z-index: 1;

  .item ~ .item {
    margin-top: 2px;
  }

  .item {
    padding: 10px;
    border-radius: 10px;
    text-align: center;

    &:hover {
      background: white;
      color: $blue;
      cursor: pointer;
    }
  }
}

