@import "./../../sass/_general";
@import "./../../sass/_variables";

.sidebar {
  display: flex;
  width: 100%;
  height: 100%;
  
  .s__items {
    display: flex;
    flex-direction: column;
    background: $blue;
    color: $white;
    padding: 0;
    list-style-type: none;
    .s__list{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      height: 8vh;
      @extend .toggle-transition;
      .s__icons{
        flex-basis: 30%;
        svg{
          fill: $white;
          width: 50%;
        }
      }
      .s__content{
        flex-basis: 70%;
        height: auto;
        transition: opacity 2s ease-in-out;
        .s__title{
          font-size: 15px;
          font-family: $lato-semi;
        }
      }
      &:hover{
        background: #f2f1f7;
        color: $blue;
        border-radius: 5px 0 0 5px;
        svg{
          fill: $blue;
        }
      }
    }
    .active{
      background: #f2f1f7;
      color: $blue;
      border-radius: 5px 0 0 5px;
      -webkit-box-shadow: -10px 2px 15px 0px rgba(0,0,0,0.4);
      -moz-box-shadow: -10px 2px 15px 0px rgba(0,0,0,0.4);
      box-shadow: -10px 2px 15px 0px rgba(0,0,0,0.4);
        .s__icons{
          svg{
            fill: $blue;
          }
        }
    }
  }
  .responsive-img {
    width: 90%;
    height: auto;
  }
}