@import "./../../sass/_variables";

.sidebar {
  width: 100%;
  height: 100%;
  display: grid;
  
  .s__items {
    grid-area: 2 / 1 / -1 / -1;
    background: $blue;
    color: $white;
    list-style-type: none;
    padding: 8px 0;
    -webkit-transition: height .3s cubic-bezier(.4,0,.2,1);
    transition: height .3s cubic-bezier(.4,0,.2,1);
    overflow: hidden;
    .s__list{
      margin-left: 10px;
      &:hover{
        background: $white;
        color: $blue;
        border-radius: 5px 0 0 5px;
        svg{
          fill: $blue;
        }
      }
      svg{
        fill: $white;
        width: 50%;
      }
      .s__icons{
        width: 35%;
        img{
          width: 50%;
          height: auto;
          grid-area: end;
        }
      }
      .s__content{
        .s__title{
          font-size: 15px;
          font-family: $lato-semi;
        }
      }
    }
  }
  .responsive-img {
    width: 90%;
    height: auto;
    grid-area: end;
  }
}