.sidebar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.s__title {
  display: grid;
  background: yellow;
  grid-template-areas: 'l l l l l l l l l l h h'; // l => logo , h => hamburger
}

.t__logo {
  grid-area: l;
}

.t__hamburger {
  grid-area: h;
}