@import '~@/sass/_variables';
.invoice__tab {
    padding: 14px 28px;

    @include emptyTable('.empty-invoice');
    
    button.add__btn.v-btn.v-btn--floating.v-btn--small{
        background-color: $blue;
        margin-bottom: 20px;
        .v-icon{
            color: $white;
            font-size: 24px;
        }
    }

}

// Tablet View
@media only screen and (max-width: 768px) and (min-width: 481px){
    .invoice__tab {
        padding: 14px;
    }
}

// Mobile View
@media only screen and (max-width: 480px){
    .invoice__tab {
        padding: 7px;
    }
}