 >>> .d-field {
    margin: 5px;
}
>>> .theme--light.v-input:not(.v-input--is-disabled) input, >>> .theme--light.v-input:not(.v-input--is-disabled) textarea{
    color: #657186;
}

>>> .dialog__textfield input{
    text-transform: capitalize;
}

>>> .task-description .ql-toolbar.ql-snow{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #dce1e5;
}
>>> .task-description .ql-container.ql-snow{
    border: none;
}
>>> .task-description .ql-editor{
    color: #657186;
}

>>> .theme--light.v-text-field--box>.v-input__control>.v-input__slot{
    background-color: #fff;
}

>>> .custom__dialog .dialog__actions .v-btn{
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #dce1e5;
    color: #657186;
    background-color: #ffffff;
    height: auto;
    width: 110px;
    margin: 0 9px;
}

@media only screen and (max-width: 480px){
    >>> .dialog__body .v-input__slot{
        font-size: 12px;
    }
    >>> .dialog__body label.v-label.theme--light, >>> .dialog__body label.v-label.theme--light{
        font-size: 12px;
    }
}