@import '~@/sass/_variables';

@media only screen and (max-width: 768px){
    .messages{
        height: auto;
        max-height: 400px;
    }
}

.messages{
    background-color: $white;
    overflow: auto;
    height: 515px;
    max-height: 515px;
    border-bottom: 1px solid $borderLightGray;
    
    .message{
        border-bottom: 1px solid $borderLightGray;
        padding: 5px 25px;
    }

    .sender{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @include userImgWithStatus ('.sender__img');

        .sender__img{
            text-align: center;
            height: 50px;
            width: 50px;
            max-width: 50px;
            
            .status{
                width: 15px;
                height: 15px;
                border: 2px solid $lightViolete;
            }
        }

        .sender__name h5{
            font-size: 18px;
            margin: 0 5px;
            color: $titleDarkBlue;
        }

        .date{
            font-size: 12px;
            opacity: 0.7;
            margin: 0 5px;
            color: $textDarkBlue;
            text-align: right;
        }
    }

    .sender__message{
        padding: 10px;
        font-size: 16px;
        text-align: justify;
        margin: 0;
        color: $textDarkBlue;
        margin-right: 30px;
    }
    
    .me{
        background-color: $tableBlueBg;
        
        .sender{
            flex-direction: row-reverse;

            .sender__name{
                text-align: right;
            }
            .date{
                text-align: left;
            }
        }

        .sender__message{
            margin-left: 30px;
            margin-right: 0;
            text-align: justify;
            display: flex;
            flex-flow: column;
            align-items: flex-end;
        }
    }
}
