.content {
  height: calc(100% - 60px);
  background: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 35px;
  overflow: auto;

  .first-row.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left-side {
      .add-logo-box {
        width: 200px;
        height: 150px;
        background: gainsboro;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
      }

      .bill-from, .bill-to {
        width: 300px;
      }
    }

    .right-side {
      display: grid;

      .invoice-title {
        width: 200px;
        font-size: 35px;
        color: gray;
        text-align: right;
        width: 100%;
      }

      .invoice-number {
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        align-items: center;
        grid-gap: 15px;

        > input{
          padding: 10px;
          border: 1px solid grey;
          border-radius: 10px;

        }
      }

      .invoice-dates > div{
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        align-items: center;
        grid-gap: 15px;
      }
    }
  }

  .second-row.table-section {

    .table-headers {
      display: grid;
      grid-template-columns: 4fr 1fr 1fr 1fr 10px;
      grid-gap: 10px;

      .column {
        padding: 10px;
        background: #bdbdbd;
        font-weight: bold;
        font-size: 15px;
      }

    }

    .table-body {
      margin-top: 10px;
      .row {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 1fr 10px;
        grid-gap: 10px;
      }
    }

  }

  .third-row.additional-info-section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    .right-side {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .field {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 15px;
        align-items: center;
      }

      .fields-to-add {
        display: flex;
        padding: 10px;

        ~ .btn {
          margin: 10px;
        }
      }
    }

  }

}