@import "~@/sass/variables";

.task__tab_preview_card {
    .task__preview_content{
        padding: 17px 25px 25px 25px;
        border: 1px solid $tableBorderBlue;
        border-radius: 10px;
        background-color:$white;

        .card__content {
            margin-bottom: 24px;

            .task__header {
                align-items: center;
                margin-bottom: 30px;

                .assignee {
                    display: flex;
                    align-items: center;
                    .assignee__name{
                        color: $tableDarkText;
                        font-size: 14px;
                    }
                }

                .date {
                    display: flex;
                    align-items: center;              
                    .date__icon{
                        color: $tableBlueText;
                        border: 1px solid $tableBlueText;
                        border-radius: 30px;
                        padding: 5px;
                        font-size: 27px;
                        margin-right: 5px;
                    }
                    .date__text{
                        font-size: 14px;
                        color: $red;
                    }
                }

                .more__button{
                    .action{
                        background-color: $white;
                        border: 1px solid $tableBorderBlue;
                        color: $tableBlueText;
                        .v-icon{
                            font-size:20px;
                        }
                    }
                }
            }

            .task__sub_header {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 10px;

                .boxes{
                    height: auto;
                    width: 125px;
                    border: 1px solid $tableBorderBlue;
                    border-radius: 5px;
                    text-align: center;
                    padding: 8px 0;
                    span.box__content{
                        font-size: 16px;
                        color: $tableBlueText;
                        opacity: 0.7;
                        text-transform: capitalize;
                    }
                }
            }
            .mobile__hours-box{
                display: none;
                width: 150px;
                margin-left:auto;
                padding: 8px 0;
            }

            @include styledScrollFor('.task__content'); //style the scroll

            .task__content {
                padding: 15px 0;
                margin-bottom: 30px;
                max-height: 1200px;
                overflow: auto;

                .task__title{
                    font-size: 17px;
                    font-weight: 500;
                    color: $tableDarkText;
                    margin-bottom: 20px;
                    padding: 0 15px;
                }

                .task__description{
                    padding: 0 15px;
                }
            
                .task__comment_section{
                    margin-top: 30px;
                    .comment {
                        display: flex;
                        padding: 10px;
                        & + .comment {
                            margin-top: 10px;
                        }
                    }
                }
            }

            .task__comments {
                padding: 15px;
                background-color: $bgLightBlue;
                display:flex;

                .rich__editor{
                    background-color: $white;
                }
                
                

                .comments__actions {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: $white;
                    border: 1px solid $gray;
                    border-top: none;
                }

                .emoji-wrapper {
                    position: relative;
                    display: inline-block;
                }

            }
        }
        //
        @include styledScrollFor('text.content');

        .text-content {
            overflow: auto;
        }

        .card__content{
            margin-bottom: 24px;
        }

        .card__footer{
            .view__more_btn{
                color: $tableDarkText;
            }
        }
    }

    .comment-msg{
        color: $textDark;
    }
    .comment-time{
        color: $textDark;
        opacity: 0.7;
    }
}

//Laptop Or iPad Pro View
@media only screen and (max-width: 1170px) and (min-width: 960px){
    .task__tab_preview_card {
        .task__preview_content{
            padding: 17px;
            margin: 12px;
    
            .card__content {
    
                .task__header {
                    margin-bottom: 24px;

                    .assignee{
                        flex-direction: column;
                    }
    
                    .date {
                        flex-direction: column;
                        align-items: center;
                        .date__icon{
                            margin: 0;
                        }
                    }
                }

                .task__sub_header {
                    justify-content: center;

                    .boxes:first-child{
                        margin-right: 20px;
                    }

                    .boxes{
                        width: 150px;
                    }

                    .hours__box{
                        display: none;
                    }
                }
                .mobile__hours-box{
                    display: block;
                }
            }
        }
    }
}

//Tablet View
@media only screen and (max-width: 768px) and (min-width: 481px){

}

//Mobile View
@media only screen and (max-width: 480px){
    .task__tab_preview_card {
        .task__preview_content{
            padding: 17px;
            margin: 12px;
    
            .card__content {
    
                .task__header {
                    margin-bottom: 24px;

                    .assignee{
                        flex-direction: column;
                    }
    
                    .date {
                        flex-direction: column;
                        align-items: center;
                        .date__icon{
                            margin: 0;
                        }
                    }
                }

                .task__sub_header {
                    justify-content: center;

                    .boxes:first-child{
                        margin-right: 20px;
                    }

                    .boxes{
                        width: 150px;
                    }

                    .hours__box{
                        display: none;
                    }
                }
                .mobile__hours-box{
                    display: block;
                }
            }
        }
    }
}