.milestones-tab {
  padding: 5px 15px;
  .boxes-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    padding: 20px 30px;
  }
  .speed-dial-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: 60px;
    width: 160px;
  }
}