.milestones__tab {
  padding: 24px;
  .milestone__box{
    margin: 0 12px;
  }
  .speed__dial_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: 105px;
    width: 160px;
  }
}