@import '~@/sass/_variables';

@include styledDialog('.projects__dialog');

.projects__dialog {

  .dialog__header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    @include styledTitleDialog('.dialog__title');

    @include styledCloseDialog('.close__btn');
  }

  @include styledScrollFor('.dialog__body');

  .dialog__body {
    max-height: 450px;
    overflow: hidden auto;
    padding: 0 15px;
    margin: 0 20px;

    .dialog__buttons {
      margin-bottom: 20px;

      .d__btn {
        width: 170px;
        height: 47px;
        padding: 5px 10px;
        font-size: 18px;
        background-color: $white;
        color: $textDark;
        border-radius: 4px 4px 0 0;

        .d__icon {
          width: 27px;
          fill: $textDark;
          margin-right: 10px;
          margin-top: 3px;
        }

        .d__title {
          text-transform: capitalize;
          white-space: normal;
          font-size: 15px;
        }
      }
    }

    .choosen {
      padding: 5px;
      color: $textDark;
      font-size: 14px;
      width: 170px;
      margin: 0 auto;
      text-align: left;
      background-color: $white;
      border: 2px solid $green;
      border-radius: 4px;
      text-transform: capitalize;
    }

    .text-fields {
      display: grid;
      grid-gap: 10px 0;
      padding: 10px 0;
    }

    .project__description {
      border-radius: 4px 4px 0 0;
      border: none;

      .quill-editor {
        height: auto;
        background-color: $white;
        border-radius: 4px 4px 0 0;
        border: 1px solid $borderLightGray;
        color: $textDark;

        label {
          color: $textDark;
          caret-color: $textDark;
        }

        > .title {
          border-left: none;
          height: 3em;
          line-height: 3em;
          text-indent: 1rem;
          font-weight: bold;
        }

        > code {
          width: 100%;
          margin: 0;
          padding: 1rem;
          border-top: none;
          border-left: none;
          border-radius: 0;
          height: 30rem;
          overflow-y: auto;
        }
      }
    }
  }

  @include actionButtonsDialog('.dialog__actions')
}

@media only screen and (max-width: 480px) {
  .projects__dialog {

    .dialog__header {
      margin-bottom: 10px;
    }

    .dialog__body {

      .dialog__buttons {
        margin-bottom: 10px;

        .d__btn {
          height: auto;
          padding: 5px;
          font-size: 12px;
          width: 150px;

          .d__icon {
            width: 18px;
            margin-right: 5px;
          }
        }

        .attachment {
          padding: 3px 10px;

          .v-icon {
            font-size: 18px;
          }
        }
      }

      .choosen {
        padding: 5px;
        font-size: 12px;
        width: 150px;
      }
    }
  }

}
