>>> .theme--light.v-input:not(.v-input--is-disabled) input, >>> .theme--light.v-input:not(.v-input--is-disabled) textarea{
    color: #657186;
    caret-color: #657186;
}

>>> .theme--light.v-input:not(.v-input--is-disabled) input{
    text-transform: capitalize;
}

>>> .theme--light.v-text-field--box>.v-input__control>.v-input__slot{
    background-color: #fff;
}

>>> .project__title label.v-label.theme--light, >>> .project__comment label.v-label.theme--light{
    font-size: 16px;
}

>>> .project__description .quill-editor .ql-snow{
    border: none;
}

>>> .project__description .quill-editor .ql-toolbar.ql-snow{
    border-bottom: 1px solid #dce1e5;
}

@media only screen and (max-width: 480px){
    >>> .project__title .v-input__slot, >>> .project__comment .v-input__slot{
        font-size: 12px;
        padding: 4px 8px;
    }
    
    >>> .project__title label.v-label.theme--light, >>> .project__comment label.v-label.theme--light{
        font-size: 12px;
    }
}
