.menu__content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    .m__item{
        display: flex;
        justify-content: center;
        align-items: center;
        .m__icon{
            .icon{
                height: auto;
            }
            .default{
                display: block;
            }
            .colored{
                display: none;
            }
            &:hover{
                .default{
                    display: none;
                }
                .colored{
                    display: block;
                }
                &:nth-child(2){
                    img{
                        width: 40px;
                    }
                }
            }
        }
        .activator{
            display: flex;
            width: 100%;
            align-items: center;
            justify-items: center;
            justify-content: space-evenly;
            .chevron{
                justify-self: flex-end;
                width: 2vw;
            }
        }
        .user-dropdown{
            width: 100%;
            .user-chevron{
                margin-left: 0.5vw;
            }
        }
    }
}

// Small Laptop - Large Desktop
@media only screen and (min-width: 768px) {
    .menu__content{
        .m__item{
            &:first-child{
                .icon{
                    width: 2vw;
                }
            }
            &:nth-child(2){
                .icon{
                    width: 2.3vw;
                }
            }
            &:nth-child(3){
                .icon{
                    width: 2vw;
                }
            }
            &:nth-child(4){
                .icon{
                    width: 1.7vw;
                }
            }
            .user-dropdown{
                .user-icon{
                    img{
                        width: 2.5vw;
                        height: 2.5vw;
                    }
                }
                .user-chevron{
                    display: flex;
                }
            }
        }
    }
}
  
// Mobile Phone - Tablet
@media only screen and (min-width: 320px) and (max-width: 767px){
    .menu__content{
        .m__item{
            &:first-child{
                .icon{
                    width: 2.5vw;
                }
            }
            &:nth-child(2){
                .icon{
                    width: 2.8vw;
                }
            }
            &:nth-child(3){
                .icon{
                    width: 2.5vw;
                }
            }
            &:nth-child(4){
                .icon{
                    width: 2.2vw;
                }
            }
            .user-dropdown{
                .user-icon{
                    img{
                        width: 3vw;
                        height: 3vw;
                    }
                }
                .user-chevron{
                    display: none;
                }
            }
        }
    }
}