.dashboard__container {
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr); //grid with 12 row and 12 columns
  width: 100%;
  height: 100vh;
}

.d__header {
  grid-area: 1 / 3 / 1 / -1;
  background: #b2e5ee;
}

.d__sidebar {
  grid-area: 1 / 1 / -1 / span 2;
  background: #29abef;
  height: fit-content;
}

.d__content {
  grid-area: 2 / 3 / -1 / -1;
  background: white;
  overflow: hidden;
}