@import "./../../sass/_variables";

.teams-page {
    padding: 25px;
    @include customTableRow;
    position: relative;
}

//TODO refactor css below (DOES not follows readability, clean code)
.content__wrapper{
    .buzz__tables{
        flex-direction: column;
        background: $white;
        padding: 24px;
        border-radius: 10px;
        border: 1px solid $tableBorderBlue;

        .buzz__tablesTwo{
            padding: 24px;
            border: 1px solid $tableBorderBlue;
            background-color: $tableBlueBg;
            .table__toolbar{
                background-color: $tableBlueBg;
                .table__toolbar-title{
                    color: $tableTitleBlue;
                    text-align: left;
                    font-size: 30px;
                }
            }
            .custom__table{
                border: 1px solid $tableBorderBlue;
                .table__inside{
                    border: 1px solid $tableBorderBlue;
                }
                thead{
                    tr{
                        background-color: $tableBlueBg;
                        th{
                            padding: 0 13px;
                            color: $tableBlueText;
                            font-size: 16px;
                            .v-icon{
                                color: $tableDarkText;
                                font-size: 30px;
                            }
                         }
                        th:nth-child(2){
                            text-align: left;
                        }
                    }
                }
                tbody{
                    tr{
                        height: 95px;
                        td{
                            padding: 0 13px;
                            &:nth-child(2){
                                display: flex;
                                align-items: center;
                                height: inherit;
                            }
                            &:last-child{
                                text-align: center;
                            }
                        }
                        .v-icon{
                            color: $tableDarkText;
                            font-size: 30px;
                        }
                        .member__name{
                            color: $tableBlueText;
                            font-weight: 500;
                            font-size: 14px;
                            flex: 3;
                        }
                        .member__image{
                            display: flex;
                            align-items: center;
                            flex: 1;
                            img{
                                height: 52px;
                                border-radius: 50%;
                                margin-right: 30px;
                            }
                        }
                        .team__position, .team__tasks, .team__projects{
                            font-size: 14px;
                            color: $tableDarkText;
                        }
                        .team__option{
                            .v-icon{
                            color: $tableBlueText;
                            }
                        }
                        &:nth-child(odd){
                        background-color: $white;
                        }
                        &:nth-child(even){
                        background-color: $tableBlueBg;
                        }
                    }
                }
            }
        }
    }
}