@import "./../../sass/_variables";
@import "./../../sass/_general";

.price__list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;

  .price__card{
    display: block;
    width: 20vw;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 1px 1px 0 rgba(2, 3, 3, 0.1);
    background-color: #f8f9fb;
    border: solid 1px #eeeeee;
    border-radius: 10px;
    padding: 10px 20px;
    .plan__type{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      font-family: Lato;
      font-size: 4vh;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #8f94a8;
    }
    .plan__price{
      display: flex;
      height: 10vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .price{
        font-family: Lato;
        font-size: 4.5vh;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3f87f5;
      }
      .monthly{
        font-family: Lato;
        font-size: 4vh;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #8f94a8;
      }
      .discount{
        font-size: 1.8vh;
        font-family: Lato;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #8f94a8;
      }
    }
    .plan__description{
      display: flex;
      height: 15vh;
      padding: 2vh;
      p{
        font-family: Lato;
        font-size: 2.3vh;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #8f94a8;
      }
    }
    .plan__button{
      button{
        border-radius: 2.4px;
        background-color: #3f87f5;
        color: $white;
      }
    }

    &:nth-child(2){
      background: #3f87f5;
      color: $white;
      .plan__type{
        color: $white;
      }
      .plan__price{
        .price, .monthly, .discount{
          color: $white;
        }
      }
      .plan__description{
        p{
          color: $white;
        }
      }
      .plan__button{
        button{
          border-radius: 2.4px;
          background-color: $white;
          color: #3f87f5;
        }
      }
    }

    &:last-child{
      .monthly{
        display: none;
      }
    }
  }

}
