@import '~@/sass/_variables';
.table-header{
    margin: 0 25px;
}
.timer__tab{
  padding: 25px;
  margin: 0 25px;
  background-color: $white;
  border: 1px solid $tableBorderBlue;
  border-radius: 10px;
  @include customTableRow;

  .timer__content{
    background-color: $tableBlueBg;
    border: 1px solid $tableBorderBlue;
    border-radius: 10px;
    padding: 15px;
  }

  .tabs{
    margin: 10px 0;
  }

  .option{
    background-color: $bgLightBlue-2;
    border: 1px solid $borderLightGray;
  }

  .tab-title{
    margin-right: 20px;
  }

  .counter{
    font-size: 12px;
    line-height: 35px;
    background-color: $red;
    height: 35px;
    width: 35px;
    color: $white;
    border-radius: 50%;
  }

}

.timer {
    @include customTableRow;

    .table__toolbar-title{
        color: $tableTitleBlue;
        text-align: left;
        font-size: 30px;
    }

    .client-name{
        color: $tableBlueText;
        font-weight: 500;
        flex: 3;
    }
    .client-img{
        display: flex;
        align-items: center;
        flex: 1;
        img{
            height: 52px;
            border-radius: 50%;
            margin-right: 30px;
        }
    }

    .timer__option{
        .v-icon{
            font-size: 24px;
            color: $sortOptionGray;
        }
    }
    
}

@media only screen and (max-width: 480px){
    .table-header{
        margin: 0 15px;
    }
    .timer {
        padding: 15px;

        .table__toolbar-title{
            font-size: 18px;
        }
    
        .timer__option{

            .v-btn--floating.v-btn--small{
                height: 30px;
                width: 30px;
            }

            .v-icon{
                font-size: 24px;
                color: $sortOptionGray;
            }
        }
        
    }
}