@import '~@/sass/_variables';

.left-side{
    .field__label{
        background-color: $fieldLabel;
        border: 1px solid $fieldLabel; 
        color: $textDark;
        font-size: 16px;
        font-weight: 500;
        padding: 6px 8px;
        margin-bottom: 5px;
    }
    .textarea__field{
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 599px){
    .left-side{
        .field__label{
            font-size: 12px;
            padding: 4px 6px;
        }
    }
}