>>> .theme--light.v-input:not(.v-input--is-disabled) input, >>> .theme--light.v-input:not(.v-input--is-disabled) textarea{
    color: #657186;
}

>>> .theme--light.v-text-field--solo>.v-input__control>.v-input__slot{
    border: 1px solid #dce1e5;
    border-radius: 8px;
    font-size: 16px;
}

>>> .dialog__textfield input{
    text-transform: capitalize;
}

>>> label.v-label.theme--light{
    font-size: 16px;
}

@media only screen and (max-width: 480px){
    >>> .theme--light.v-text-field--solo>.v-input__control>.v-input__slot{
        font-size: 12px;
    }
    
    >>> label.v-label.theme--light{
        font-size: 12px;
    }
}