@import '~@/sass/_variables';

@include pagePadding('.database');

.database {
    @include customTableRow;
}
.database-wrapper{
    background-color: $white;
    border: 1px solid $tableBorderBlue;
    border-radius: 10px;
    padding: 20px
}
.database-content {
    background-color: $bgLightBlue-2;
    border: 1px solid $tableBorderBlue;
    padding: 20px;

    .database-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }
}