@import '~@/sass/_variables';

.right__side {
  
    .invoice__title {

        .titlefield{
            margin-bottom: 40px;
        }
    }

    .field__label{
        width: 300px;
        background-color: $fieldLabel;
        border: 1px solid $fieldLabel; 
        color: $textDark;
        font-size: 16px;
        font-weight: 500;
        padding: 6px 8px;
        margin-bottom: 2px;
    }
    .textfield{
        width: 300px;
        margin-bottom: 2px;
    }
  
    .invoice__dates{
        margin: 30px 0;
        .created__date, .due__date{
            display: flex;
            flex-direction: row;

            .field__label{
                display: flex;
                align-items: center;
                margin: 2px;
            }
            .datefield{
                margin: 2px;
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    .right__side{

        .invoice__dates{

            .created__date, .due__date{
                flex-direction: column;
    
                .field__label{
                    margin: 0 0 2px 0;
                }
                .datefield{
                    margin: 0 0 2px 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 690px){
    .right__side{
        align-items: flex-start;
        
        .invoice__title {

            .titlefield{
                margin: 20px 0;
            }
        }
    }
}

@media only screen and (max-width: 599px){
    .right__side {
    
        .field__label{
            font-size: 12px;
        }
    }
}