@import '~@/sass/_variables';

.v-menu__content.theme--light.menuable__content__active {
    box-shadow: 0 15px 5px -3px rgba(0, 0, 0, 0.2),
    0 18px 10px -3px rgba(0, 0, 0, 0.14), 0 13px 14px -3px rgba(0, 0, 0, 0.12);
}

.notif__inbox{
    background-color: $lightViolete;
    padding: 10px 0;
    width: 300px;
    margin-top: 15px;
    border-bottom: 1px solid $borderLightGray;
    border-right: 1px solid $borderLightGray;
    border-left: 1px solid $borderLightGray;

    &:after {
        content: '';
        position: absolute;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $lightViolete;
        border-top: 15px solid transparent;
        right: 50%;
        top: 0;
        margin-top: -15px;
        z-index: 10;
    }

    .notif__title{
        padding: 5px;
        color: $titleDarkBlue;
        padding: 10px 15px;
        font-weight: 500;
        background-color: $lightViolete;
        border-bottom: 1px solid $borderLightGray;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    @include styledScrollFor ('.msg__notif');

    .msg__notif{
        max-height: 300px;
        overflow: auto;
        
        .user{
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid $borderLightGray;
            padding: 5px;
    
            &:hover{
                background-color: $white;
            }
    
            @include userImgWithStatus ('.user__img');

            .user__img{
                height: 40px;
                width: 40px;
                min-width: 40px;
            }
    
            .user__activity{
                margin-left: 10px;
                cursor:pointer;
                font-size: 14px;
                color: $titleDarkBlue;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                max-height: 3.6em;
                line-height: 1.2em;
                -webkit-line-clamp: 3; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
            
        }
        .new__notif{
            background-color: $lightViolete;
        }
    }

}

.notif__button{
    position: relative;
}
.notif__button[data-notify]:after {
    content:attr(data-notify);
    position:absolute;
    bottom:18px;
    right:4px;
    font-size:.7em;
    background:$red;
    color:$white;
    width:18px;
    height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    font-size:12px;
}