@import "~@/sass/_variables";

.b-header {
    display: flex;
    height: 100%;
    background: $white;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.h__hamburger {
    display: flex;
    align-items: center;
}
.h__pagetitle{
    flex-basis: 50%;
    .b-breadcrumbs.v-breadcrumbs {
        padding: 0;
        text-transform: capitalize;
        color: $textDark !important;
    }
}

.h__pagetitle h4 {
    color: #667381;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
}

.h__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.h__search {
    min-width: 150px;
    margin: 0 20px;
    flex-basis: 100%;
}

// Small Laptop - Large Desktop
@media only screen and (min-width: 768px) {
    .h__hamburger {
        justify-content: flex-start;
    }
}

// Mobile Phone - Tablet
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .h__hamburger {
        flex-basis: 10%;
        justify-content: center;
    }
}