@import '~@/sass/_variables';
.switches{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
}
.bz-table {
	width : 100%;
	
	.table-header {
		th {
			width : 50%;
		}
	}
}