.content {
  height: calc(100% - 60px);
  background: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  overflow: auto;
}

.first-row.info-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


@media only screen and (max-width: 690px) {
  .first-row.info-section {
    flex-direction: column;
  }
}

@media only screen and (max-width: 599px){
  .content {
    padding: 15px;
  }
}
