@import '~@/sass/_variables';

.right-side {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .subtotal{
    color: $textDark;
    margin-bottom: 10px;
  }

  .fields-to-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  
  .total{
    color: $textDark;
  }
}

@media only screen and (max-width: 599px){
  .right-side {
  
    .fields-to-add {
      padding: 5px;

      .v-btn{
        font-size: 12px;
        padding: 0 10px;
      }

      .v-icon{
        font-size: 18px;
      }
    }
  }
}