@import '~@/sass/_variables';

@include styledDialog('.milestone__dialog');

.milestone__dialog{

  .dialog__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0;
    
    @include styledCloseDialog('.close__dialog');

    @include styledTitleDialog('.dialog__title');
  }

  .dialog__body{
      .dialog__textfield, .dialog__selectfield, .dialog__datepicker{
        margin: 5px;
      }
  }
  
  @include actionButtonsDialog('.dialog__actions');

}