@import '~@/sass/_variables';

.chatbox{
  margin: 10px;
  .chat__header{
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    width: 250px;

    @include userImgWithStatus ('.user__img');

    .user-info {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 10px;
      align-items: center;
      color: white;
    }

    .close__btn{
      color: $white;
      &:hover{
        color: $red;
      }
    }
  }

  .fadeHeight-enter-active, .fadeHeight-leave-active {
    transition: all 0.4s;
    max-height: 500px;
  }
  .fadeHeight-enter, .fadeHeight-leave-to {
    opacity: 0;
    max-height: 0px;
  }

  .chat__body{

    @include styledScrollFor('.messages'); //style the scroll


    .messages{
      background-color: $white;
      overflow: auto;
      height: 300px;
      width: 250px;
      border-bottom: 1px solid $borderLightGray;

      .message-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }

      .no-messages {
        text-align: center;
        padding: 10px;
      }

      .message{
        border-bottom: 1px solid $borderLightGray;
      }

      .sender{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3px;

        @include userImgWithStatus ('.sender__img');

        .sender__name{
          font-size: 12px;
          margin: 0 5px;
          width: 105px;
          color: $titleDarkBlue;
        }

        .date{
          width: 55px;
          font-size: 10px;
          opacity: 0.7;
          margin: 0 5px;
          color: $textDarkBlue;
        }
      }

      .sender__message{
        padding: 7px;
        font-size: 12px;
        text-align: justify;
        color: $textDarkBlue;
        margin: 0 15px 0 0;
      }

      .message.me{
        background-color: $tableBlueBg;

        .sender{
          flex-direction: row-reverse;

          .sender__name{
            text-align: right;
          }
        }

        .sender__message{
          word-break: break-word;
          text-align: right;
        }
      }
    }

    .write{
      width: 250px;
      display: flex;
      align-items: center;
      border: 1px solid $borderLightGray;

      .send{
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}