@import '~@/sass/_variables';

.notes-list {
    background-color: #ffffff;
    border: 1px solid #dce1e5;

    .note-header {
        padding: 10px;
        font-size: 24px;
        color: $textDark;
        text-align: left;
        font-weight: 500;
        border-bottom: 1px solid $borderLightGray;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include styledScrollFor('.notes-body');

    .notes-body {
        .list-wrapper {
            max-height: 1000px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    .note {
        padding: 10px;
        border-bottom: 1px solid $borderLightGray;
        border-left: 1px solid transparent;
        cursor: pointer;

        &:hover,
        &.active {
            background: $lightGray;
        }
    }

    .note-name {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 30px;
        grid-template-columns: 1fr 30px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        grid-gap: 10px;
        -webkit-box-align: center;
        align-items: center;

        span {
            font-size: 16px;
            color: $textDark;
            font-weight: 500;
            white-space: nowrap;
            width: 180px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .notify {
        color: $gray;
        cursor: pointer;

        &.selected {
            color: $blue;
        }

        &:hover {
            color: $blue;
        }

        &.active {
            color: $blue;
        }
    }

    .note-desc p {
        font-size: 14px;
        color: $textDark;
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }

    .view__more {
        text-align: center;
        padding: 10px;
        border-top: 1px solid $borderLightGray;

        .view__more_btn {
            color: $tableDarkText;
        }
    }
}