@import '~@/sass/_variables';

.reports-list {
  background-color: $white;
  border: 1px solid $tile-border;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;

  @include cardTitle('.reports-list-title');

  .reports-list-title{
    margin-bottom: 5px;
    font-size: 20px;
  }

  .reports-content{
    border: 1px solid $tile-border;
    background-color: $bgLightBlue-2;

    .table-header{
      color: $textDarkBlue;
      border-bottom: 1px solid $tile-border;
      font-size: 15px;
      font-weight: 500;
      padding: 10px;
    }

    .reports-title{
      max-width: 165px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }


  .no-data {
    padding: 10px;
    text-align: center;
  }

  .report-item {
    border-bottom: 1px solid $tile-border;
    padding: 10px;
    color: $textDark-2;
    font-size: 14px;

    &:hover {
      background: white;
      cursor: pointer;
    }

    &.active {
      background: white;
    }

    &:last-child{
      border-bottom: none;
    }
  }

}

@media only screen and (max-width: 599px){
  .reports-list {
    padding: 10px;
  
    @include cardTitle('.reports-list-title');
  
    .reports-list-title{
      font-size: 16px;
    }
  
    .reports-content{
  
      .table-header{
        font-size: 14px;
        padding: 7px;
      }
  
      .reports-title{
        max-width: 110px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  
    .report-item {
      padding: 7px;
      font-size: 12px;
    }
  
  }
}