@import '~@/sass/_variables';
@include pagePadding('.invoice-templates');

.invoice-templates {

    .invoice-templates-content {
        background-color: $tableBlueBg;
        border: 1px solid $tableBorderBlue;
        padding: 10px;
    }
    .action-btn.v-icon{
        color: $btnGray;

        &:hover{
            color: $textDark;
        }
    }
}