@import '~@/sass/_variables';

@include emptyTable('.empty-reports');

.empty-wrapper{
  margin: 1.25rem;
  padding: 1.25rem;
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $tableBorderBlue;
}

.custom-dialog {
  .dialog__link, .dialog__textfield{
    margin: 10px 5px;
  }
}

.actions {
  padding-bottom: 12px;
  .v-btn{
    margin-right: 8px;
  }
}
.add-btn{
  margin-right: 10px;
}

@include actionButtonsDialog('.disable-btn');

.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat){
  background-color: $white;
}
.reports-tab{

  .reports__body{
    padding: 0px !important;
    
    .site-preview{
      margin: 0;
      border: none;
    }
  }
  .reports-actions{
    .v-icon{
      color: $btnGray;
      &:hover{
        color: $textDark;
      }
    }
  }

  .tab-img{
    max-height: 30px; 
    max-width: 100px;
  }
  .v-tab {
    color: $tableBlueText !important;
  }
  .reports-tab-content{
      margin: 1.25rem;
      background-color: transparent;
      .v-card{
        border-radius: 10px;
        border: 1px solid $tableBorderBlue;
      }
      
  }
}
.reports-tab.v-card.v-sheet.theme--light{
  background-color: $dashboardBg;
}




.reports-actions{
  text-align: right;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px){
}

@media only screen and (max-width: 599px){
}