@import '~@/sass/_variables';

@include pagePadding('.reports');

@include emptyTable('.empty-reports');

.custom-dialog {

    .dialog__link,
    .dialog__textfield {
        margin: 10px 5px;
    }
}

@include actionButtonsDialog('.disable-btn');

.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
    background-color: $white;
}

.reports {
    .body-wrapper {
        background-color: $white;
        border: 1px solid $tableBorderBlue;
        max-width: 100%;
        padding: 1.5rem;
        border-radius: 10px;

        .reports-inner {
            border: 1px solid $tableBorderBlue;
        }

        .reports-tab {
            border-bottom: 1px solid $tableBorderBlue;
        }

        .tab-img {
            max-height: 30px;
            max-width: 100px;
        }

        .reports-actions {
            text-align: right;
            margin-bottom: 1rem;

            .v-icon {
                color: $btnGray;

                &:hover {
                    color: $textDark;
                }
            }
        }

        .v-tab {
            color: $tableBlueText !important;
        }

        .site-preview {
            border: 1px solid $tableBorderBlue;

            iframe {
                min-height: 100vh;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .reports {
        padding: 7px 14px;
    }

    .body-wrapper {
        padding: 15px;

        .reports__body {
            padding: 18px;

        }
    }
}

@media only screen and (max-width: 599px) {
    .body-wrapper {
        padding: 10px;

        .reports__body {
            padding: 10px;
        }

        .v-btn--floating.v-btn--small {
            height: 35px;
            width: 35px;
        }
    }
}