@import '~@/sass/_variables';

@include emptyTable('.empty-reports');

.custom-dialog {
  .dialog__link, .dialog__textfield{
    margin: 10px 5px;
  }
}


.actions {
  padding-bottom: 12px;
  .v-btn{
    margin-right: 8px;
  }
}
.add-btn{
  margin-right: 10px;
}

@include actionButtonsDialog('.disable-btn');

.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat){
  background-color: $white;
}

.reports__tab {
  padding: 14px;
}

.body-wrapper{
  margin: 10px;
  background-color: $white;
  border: 1px solid $tableBorderBlue;
  border-radius: 10px;
  padding: 20px;

  .reports__body{
      padding: 0px;
  }

  .reports-actions{
    text-align: right;
    margin-bottom: 20px;
  }
  .theme--dark.v-tabs>.v-tabs-bar{
    background-color: $modalBgGray !important;
  }
  .v-tab.v-tab--active{
    background-color: #fff;
    color: $tableBlueText;
    border-bottom: none;
  }
  .v-tab{
    background-color: $modalBgGray;
    color: $tableBlueText !important;
    border-top: 1px solid $borderGray;
    border-right: 1px solid $borderGray;
    border-left: 1px solid $borderGray;
    border-bottom: 1px solid $borderGray;
  }
}

@media only screen and (max-width: 768px){
  .reports__tab {
    padding: 7px;
  }
  .body-wrapper{
    padding: 15px;

    .reports__body{
      padding: 0px;
    }
  }
}

@media only screen and (max-width: 599px){
  .body-wrapper{
    padding: 10px;

    .reports__body{
      padding: 10px;
    }
    
    .v-btn--floating.v-btn--small{
      height: 35px;
      width: 35px;
    }
  }
}