@import "../../sass/variables";

// Field (email and password)
.field {
  display: flex;
  height: 45px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  .v-icon {
    flex-basis: 20%;
    height: 100%;
    background: $blue;
    border-radius: 5px 0 0 5px;
  }
 
  input {
    flex-basis: 80%;
    height: 100%;
    color: #b3b3b3;
    background: $white;
    font-family: HelveticaLTStd;
    font-size: 14px;
    text-indent: 10px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    outline: none;
    border: solid 1px #e6e6e6;
    border-radius: 0 5px 5px 0;
    transition : border 500ms ease-out; 
    &::placeholder{
      text-indent: 12px;
      font-weight: 300;
      color: #b3b3b3;
    }
    
  }

  input.invalid {
    border: 3px solid #ff9a9a;
    transition : border 500ms ease-out; 
  }
  
}

.signup__field {
  .v-icon {
    display: none
  }
  input{
    flex-basis: 100%;
  }
}

//Tablet View
@media(max-width: 768px) {
  .field {
    .v-icon{
       flex-basis: 40px;
    }
  }
}