@import "~@/sass/_variables";

.price__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;

    .price__card {
        display: block;
        width: 22%;
        text-align: center;
        justify-content: center;
        box-shadow: 0px 1px 1px 0 rgba(2, 3, 3, 0.1);
        background-color: #f8f9fb;
        border: solid 1px #eeeeee;
        border-radius: 10px;
        padding: 10px 20px;

        .plan__type {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Lato;
            font-size: 25px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #8f94a8;
            margin-top: 15px;
            margin-bottom: 25px;
        }

        .plan__price {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            min-height: 49px;

            .price {
                font-family: Lato;
                font-size: 28px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #3f87f5;
            }

            .monthly {
                font-family: Lato;
                font-size: 25px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #8f94a8;
            }

            .discount {
                font-size: 12px;
                font-family: Lato;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #8f94a8;
            }
        }

        .plan__description {
            display: flex;
            margin-bottom: 20px;
            padding: 13px;

            p {
                font-family: Lato;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #8f94a8;
            }
        }

        .plan__button {
            button {
                border-radius: 2.4px;
                background-color: #3f87f5;
                color: grey;
            }
        }

        &:nth-child(2) {
            background: #3f87f5;
            color: $white;

            .plan__type {
                color: $white;
            }

            .plan__price {

                .price,
                .monthly,
                .discount {
                    color: $white;
                }
            }

            .plan__description {
                p {
                    color: $white;
                }
            }

            .plan__button {
                button {
                    border-radius: 2.4px;
                    background-color: $white;
                    color: #3f87f5;
                }
            }
        }

        &:last-child {
            .monthly {
                display: none;
            }
        }
    }

}