>>> .theme--light.v-input:not(.v-input--is-disabled) input, >>> .theme--light.v-input:not(.v-input--is-disabled) textarea{
    color: #657186;
}
>>> .write__msg .v-input__slot {
    font-size: 16px;
    color: #657186;
}
>>> .write__msg label.v-label.theme--light{
    font-size: 16px;
    color: #657186;
}

@media only screen and (max-width: 768px){
    
    >>> .write__msg .v-input__slot {
        font-size: 12px;
    }
    >>> .write__msg label.v-label.theme--light{
        font-size: 12px;
    }
    >>> .write__msg .v-input__control {
        min-height: auto;
    }
}