>>>.content__wrapper .buzz__tables{
    padding: 0;
    border-radius: none;
    border: none;
}
>>>.content__wrapper .buzz__tables .buzz__tablesTwo{
    padding: 0;
    border: none;
}

>>>.option .v-btn__content{
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}