@import '~@/sass/_variables';

@include pagePadding('.cloud');

.cloud {
    @include customTableRow;
}
.cloud-wrapper{
    background-color: $white;
    border: 1px solid $tableBorderBlue;
    border-radius: 10px;
    padding: 20px
}
.cloud-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .75rem;
    .v-icon{
        color: $btnGray;

        &:hover{
            color: $textDark;
        }
    }
}
.gdrive{
    background-color: $googledrive;
}
.stripe{
    background-color: $stripe;
}
.dropbox{
    background-color: $dropbox;
}
.gmeet{
    background-color: $googleMeet;
}
.zoom{
    background-color: $zoom;
}
.skype{
    background-color: $skype;
}
.seoprofiler{
    background-color: $seoprofiler;
}
.paypal{
    background-color: $paypal;
    background-image: $paypalGradient;
}
.semrush{
    background-color: $semrush;
}
.b-local{
    background-color: $bLocal;
}
.gcalendar{
    background-color: $gcalendar;
}
.ical{
    background-color: $iCal;
}
.lastpass{
    background-color: $lastpass;
}
.integration.seoprofiler{
    color: $black;

    .app-actions{

        .v-btn{
            color: $black;
        }
        .v-btn--outlined{
            border: 1px solid $black;
        }
        .v-btn--disabled{
            color: $black !important;
        }
    }
}
.integration{
    color: $white;

    &:hover{
        box-shadow: $darkBoxShadow-2;
    }

    img {
        height: 50px;
        text-align: center;
        margin: 0 auto !important;
    }
    
    .app-body {
        background-color: transparent;
    }

    .app-actions{
        flex-direction: column;

        .v-btn{
            color: $white;
            margin-left: 0px;
        }
        .v-btn--outlined{
            border: 1px solid $white;
        }
        .v-btn--disabled{
            color: $white !important;
            opacity: 0.5;
        }
    }
}