@import "~@/sass/_variables";

.clients {
  padding: 0 20px;

  .c-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

    @include addNewButtonStyle;
  }

}