@import '~@/sass/_variables';

@include styledDialog('.custom__dialog');
.custom__dialog.event-dialog {
  background-color: $modalBgGray;

  @include styledDialogHeader('.dialog__header');

  @include styledCloseDialog('.close__dialog');

  @include styledTitleDialog('.dialog__title');
  
  @include styledDialogBody('.dialog__body');

  @include styledScrollFor('.dialog__body');

  @include actionButtonsDialog('.dialog__actions');

  .v-card__text.dialog__body{
    padding-bottom: 0;
  }

  .d__btn {
  
      .v-btn {
        width: 170px;
        height: 47px;
        padding: 5px 10px;
        font-size: 18px;
        background-color: $white !important;
        color: $textDark;
        border-radius: 4px 4px 0 0;
  
        i {
          width: 27px;
          fill: $textDark;
          margin-right: 10px;
          margin-top: 3px;
        }
  
        .v-btn__content {
          text-transform: capitalize;
          white-space: normal;
          font-size: 15px;
          letter-spacing: 0;
        }
      }
  }

  .choosen .c-inner{
      border: 1px solid $borderGray;
      border-radius: 4px;
      padding: 5px;
  }

  .text-fields {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px 0;
    padding: 10px 0;
  }
  
  @include actionButtonsDialog('.dialog__actions')

}


