@import '~@/sass/_variables';

@include styledScrollFor('.custom-table .v-data-table__wrapper');

.custom-table-wrapper {
    padding: 20px;
    background-color: $white;
    border: 1px solid $tableBorderBlue !important;
    border-radius: 10px !important;
    color: $textDark !important;

    .custom-table-header {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.75em;
        align-items: center;
    }

    .v-data-table__wrapper {
        border-right: 1px solid $tableBorderBlue;
        border-bottom: 1px solid $tableBorderBlue;
        border-left: 1px solid $tableBorderBlue;
        min-height: 100%;

        .clickable-td {
            color: $blue;
            cursor: pointer;
        }
    }

    .theme--light.v-data-table thead tr th {
        color: $tableTitleBlue;
    }

    .v-data-table-header {
        background-color: $white;
    }

    .custom-table-title {
        color: $tableTitleBlue;
        font-size: 1.25em;
        text-transform: capitalize;
    }

    .theme--light.v-data-table {
        color: $tableDarkText;
    }

    tbody tr:nth-child(odd) {
        background-color: $tableBlueBg;
    }
}