@import '~@/sass/_variables';

.chip--select-multi{
    img{
        border-radius: 50%;
    }
    .chip-member-name{
        color: $textDark;
    }
}

.member{
    display: grid;
    grid-template-columns: 35px 150px 35px;
    align-items: center;
    grid-gap: 10px;

    .member-avatar img{
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    .full-name{
        color: $textDark;
        font-size: 14px;
    }

    .job-title{
        color: $textDark;
        font-size: 12px;
        opacity: 0.7;
    }
}