@import '~@/sass/_variables';
@include pagePadding ('.timer__tab');
@include emptyTable('.empty-timer');

.timer__tab {
    @include customTableRow;

    button.add__btn.v-btn.v-btn--floating.v-btn--small {
        background-color: $blue;
        margin-bottom: 20px;

        .v-icon {
            color: $white;
            font-size: 24px;
        }
    }

    .status__col {
        font-size: 10px;
        font-weight: 400;
        opacity: 0.8;
        color: $white;
        text-transform: capitalize;

        .status__completed {
            display: inline-block;
            padding: 5px 6px;
            border-radius: 2px;
            background-color: $green;
        }

        .status__pending {
            display: inline-block;
            padding: 5px 6px;
            border-radius: 2px;
            background-color: $orange;
        }

        .status__behind {
            display: inline-block;
            padding: 5px 6px;
            border-radius: 2px;
            background-color: $red;
        }

        .status__open {
            display: inline-block;
            padding: 5px 6px;
            border-radius: 2px;
            background-color: $textGray;
        }
    }

    .table__toolbar-title {
        color: $tableTitleBlue;
        text-align: left;
        font-size: 30px;
    }

    .timer__option {
        .v-icon {
            font-size: 24px;
            color: $sortOptionGray;
        }
    }

    .avatar-wrapper {
        display: inline-block;
    }
}

@media only screen and (max-width: 480px) {
    .timer__tab {

        .table__toolbar-title {
            font-size: 18px;
        }

        .timer__option {

            .v-btn--floating.v-btn--small {
                height: 30px;
                width: 30px;
            }

            .v-icon {
                font-size: 24px;
                color: $sortOptionGray;
            }
        }

    }
}

@include firstColumnHover;