@import '~@/sass/_variables';

@include pagePadding ('.forms');

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
    .form-container {
      width: 600px;
    }
    .form-wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
    .v-tab.v-tab--active{
      background-color: $white;
      color: $tableDarkText;
    }
    .v-tab{
      background-color: $tableBlueBg;
      border: 1px solid $tableBorderBlue;
    }
}

.add__btn:first-child {
    margin-right: 8px;
}