@import '~@/sass/_variables';

.due__date_menu{
  width: 270px;
  padding: 5px;
}

.pickers-container {
  background: white;
  font-size: 12px;

  .header-titles {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    padding: 10px;
  }

  .due-date-pickers {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }

  .actions {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    .v-btn{
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid $borderLightGray;
        color: $modalTitle;
        background-color: $white;
    }
  }

}