.user{
    display: flex;
    .activator{
        display: flex;
        width: 100%;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
        .chevron{
            justify-self: flex-end;
            width: 30px;
        }
    }
    .user-dropdown{
        width: 100%;
        .user-chevron{
            display: flex;
            margin-left: 10px;
        }
    }
}

.buzzooka{
    .h__list{
        margin: 5px 0;
        .h__icons{
            display: flex;
            justify-content: center;
            .icon{
                height: auto;
                width: 50%;
            }
        }
        .h__title{
            text-indent: 10px;
        }
    }
}