@import "./../../sass/_general";
@import "./../../sass/_variables";

.teams{
    .buzz__tables{
        table{
            thead{
                th{
                    &:nth-child(2){
                        text-align: left;
                    }
                }
            }
            tbody{
                td{
                    .member__image{
                        display: flex;
                        align-items: center;
                        flex: 1;
                        img{
                            width: 3vw;
                            border-radius: 50%;
                        }
                    }
                    .member__name{
                        flex: 3;
                    }
                    &:nth-child(2){
                        display: flex;
                        align-items: center;
                        height: inherit;
                    }
                    &:last-child{
                        text-align: center;
                    }
                }
            }
        }
    }
}

//.v-dialog{
//    .layout{
//        justify-content: space-around;
//    }
//    .newMember_field{
//        width: 50%;
//        .v-icon{
//            display: none;
//        }
//        input{
//            flex-basis: 90%;
//        }
//    }
//}