@import '~@/sass/_variables';

.dash__card {
    padding: 1em;
    border: 1px solid $tableBorderBlue;
    border-radius: 10px;
    background-color: $white;
    min-height: 500px;

    .card__header {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .card__title {
            color: $textDark;
            font-weight: 500;
            text-transform: capitalize;
        }

        .actions {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;

            .action {
                margin-left: 10px;
                color: $btnGray;
                &:hover{
                    color: $textDark;
                }
            }
        }
    }

    .card__content {
        margin-bottom: 0px;
        height: 380px;
        overflow: auto;
    }

    .card__footer {
        display: flex;
        justify-content: center;

        .view__more_btn {
            color: $tableDarkText;
        }
    }

}

@include styledScrollFor('.card__content'); //style the scroll

//Tablet View
@media only screen and (max-width: 959px) {
    .dash__card {
        min-height: auto;
    }

}

//Mobile View
@media only screen and (max-width: 480px) {
    .dash__card {
        padding: 10px 15px 15px 15px;

        .card__content {
            margin-bottom: 18px;
        }
    }
}