@import '~@/sass/_variables';
.dash__card {
    padding: 15px;
    border: 1px solid $tableBorderBlue;
    border-radius: 10px;
    background-color:$white;
    min-height: 500px;
    .card__header {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        .card__title{
            color: $tableTitleBlue;
            font-size: 24px;
            font-weight: 500;
            text-transform: capitalize;
            letter-spacing: .02em!important;
            font-family: Roboto,sans-serif!important;
        }
        .actions {
            .action{
                background-color: $tableBlueBg;
                border: 1px solid $tableBorderBlue;
                margin: 0 0 0 10px;
                .v-btn__content .v-icon{
                    color: $tableTitleBlue;
                }
            }
        }
    }
    
    .card__content{
        margin-bottom: 0px;
        height: 380px;
        overflow: auto;
    }

    .card__footer{
        display: flex;
        justify-content: center;

        .view__more_btn{
            color: $tableDarkText;
        }
    }

}

@include styledScrollFor('.card__content'); //style the scroll

//Tablet View
@media only screen and (max-width: 959px){
    .dash__card {
        min-height: auto;
    }

}

//Mobile View
@media only screen and (max-width: 480px){
    .dash__card {
        padding: 10px 15px 15px 15px;
        .card__header {
            .card__title{
                font-size: 16px;
            }
            .actions {
                .v-btn--floating.v-btn--small{
                    height: 30px;
                    width: 30px;
                }
            }
        }
        
        .card__content{
            margin-bottom: 18px;
        }
    }
}