@import "../../sass/variables";

.login{
  display: flex;
  height:100%;
 
  .l__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    background: #3f87f5;
  }

  .l__gallery{
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    .gallery__text{
      font-size: 14px;
      margin-top: 30px;
    }
    .gallery__images{
      img{
        width: 100%;
      }
    }
  }
  
}

@media (max-width: 960px) {
  .login{
    .l__form, .l__gallery{
      height:60%;
    }
  }
}