@import '~@/sass/_variables';

@include styledScrollFor('.v-card__text')

.v-card__text{
    .theme--light.v-input:not(.v-input--is-disabled) input{
        color: $modalTitle;
        caret-color: $modalTitle;
    }

    button.addService__btn.v-btn.v-btn--depressed.theme--light, button.addService__btn.v-btn.theme--light, button.deleteService__btn.v-btn.theme--light{
        height: 65px;
        max-width: 65px;
        border-radius: 8px;
        margin: 0;
        min-width: 0;
        background-color: #fff;
    }

    button.addService__btn.v-btn.theme--light{
        .v-icon{
            font-size: 40px;
            color: $green;
        }
    }

    button.addService__btn.v-btn.v-btn--depressed.theme--light{
        .v-icon{
            color: $green !important;
            opacity: 0.5;
        }
    }


    button.deleteService__btn.v-btn.theme--light{
        .v-icon{
            font-size: 40px;
            color: $red;
        }
    }

    button.addService__btn.v-btn.v-btn--depressed.theme--light:hover, button.addService__btn.v-btn.theme--light:hover{
        background-color: $green;
        border-color: $green;
        .v-icon{
            color: $white !important;
        }
    }

    button.deleteService__btn.v-btn.v-btn--depressed.theme--light:hover, button.deleteService__btn.v-btn.theme--light:hover{
        background-color: $red;
        border-color: $red;
        .v-icon{
            color:$white !important;
        }
    }
}

@include styledDialog('.addService__dialog.v-card.theme--light');

.addService__dialog.v-card.theme--light{

    .v-card__text{
        max-height:600px;
        padding: 0;
        .theme--light.v-input:not(.v-input--is-disabled) input{
            color: $modalTitle;
            caret-color: $modalTitle;
            text-transform: capitalize;
        }
        label.v-label.theme--light{
            font-size: 20px;
            opacity: 0.8;
        }
        .service__input{
            font-size: 20px;
            font-weight: 500;
            color: $modalTitle;
            .v-input__slot{
                border-radius:8px;
                min-height: 65px;
            }
        }
    }

    .dialog__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 0;

        @include styledCloseDialog('.close__dialog');

        @include styledTitleDialog('.dialog__title');
    }
    
    .service__field{
        margin-bottom: 10px;
    }
    
    @include actionButtonsDialog('.service__actions')
}

//Mobile View
@media only screen and (max-width: 599px){
    .addService__dialog.v-card.theme--light{
        .v-card__title{
            margin-bottom: 10px;
        }
        .v-card__text{
            max-height:300px;

            label.v-label.theme--light{
                font-size: 16px;
            }

            .service__input{
                font-size: 16px;
                .v-input__slot{
                    min-height: 46px;
                }
            }

            button.addService__btn.v-btn.v-btn--depressed.theme--light, button.addService__btn.v-btn.theme--light, button.deleteService__btn.v-btn.theme--light{
                max-height: 45px;
                width: auto;
                max-width: 45px;
                padding: 0;
            }
            button.addService__btn.v-btn.theme--light, button.addService__btn.v-btn.v-btn--depressed.theme--light, button.deleteService__btn.v-btn.theme--light{
                .v-icon{
                    font-size: 30px;
                }
                .v-btn__content{
                    width: 45px;
                    min-width: 0;
                }
            }
        }
    }
}