>>> .theme--light.v-input:not(.v-input--is-disabled) input, >>> .theme--light.v-input:not(.v-input--is-disabled) textarea{
    color: #657186;
}
>>> .textfield .v-input__slot{
    background-color: #fbfcff;
    border: 1px solid #e8f1fa;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 8px;
}

>>> .textfield .v-input__slot .v-select__selections{
    line-height: 1.1em;
}

>>> .textfield .v-input__slot:hover{
    border: 1px solid #cce0f4;
}

>>> .invoice__dates .textfield .v-input__slot{
    font-size: 16px;
    font-weight: 400;
}


@media only screen and (max-width: 599px){
    >>> .textfield .v-input__control{
        min-height: auto;
    }
    >>> .textfield .v-input__slot{
        font-size: 12px;
        padding: 4px 6px;
    }
    >>> .textfield label.v-label.theme--light{
        font-size: 12px;
    }
}
