@import '~@/sass/_variables';

@include styledDialog('.custom__dialog');

.custom__dialog {


  .text-fields {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px 0;
    padding: 10px 0;
  }
  .action__btn.v-btn {
    border-radius: 4px;
    height: 50px;
    background: $white;
    border: 1px solid $btnGray;
    color: $btnGray;
  }
  .v-input.v-overflow-btn .v-input__control {
    box-shadow: none;
  }
  .add-btn .v-icon{
    color: $green;
    font-size: 30px;
  }
  .delete-btn .v-icon{
    color: $red;
    font-size: 30px;
  }

}