@import "../../sass/variables";

.set__password {
  display: -webkit-box;
  display: flex;
  height:100%;
 
  .l__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    color: $white;
    background: #3f87f5;
	
	.form-group {
		.error {
			background-color: transparent !important;
			padding: 5px;
			text-align: center;
		}
	}
  }

  .l__gallery{
    padding: 0 30px;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    .gallery__text{
      font-size: 14px;
      margin-top: 30px;
    }
    .gallery__images{
      img{
        width: 100%;
      }
    }
  }
}

@media (max-width: 960px) {
  .set__password{
    .l__form, .l__gallery{
      height:60%;
    }
  }
}